body{
    margin: 0;
    padding: 0;
}

.box1{
    margin-top: -30%;
    margin: auto;
    width: 560px;
    height: 355px;
    
}

.box {
    border-style: 1px solid;
    display: block;
    width: 53.5714286%;
    height: 84.5070423%;
    background-color: black;
    transition: all 1.5s;
    border: 1px solid grey;
    margin: auto;
    margin-top: 30%;
    
}

.box:hover {
    background-color: white;
    background-image: url(https://cdn-learn.adafruit.com/assets/assets/000/012/878/thumb100/led_strips_doge.bmp?1386611464);
    background-size: 100%;
    color: white;
    width: 26.7857143%;
    height: 42.2535211%;
    transform: rotate(360deg);
    border: 1px solid black;
    border-radius: 100%;
}
